@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
    background:#171717 ;
  }
  

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #313135; 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6C6C76; 
    transition: all 0.5s linear;
  }