@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
  width: 7px;
  background: #171717;
}

/* 
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(145deg, #44ff9a, #44b0ff, #8b44ff, #f64, #ebff70);
  opacity: 30%;
  border-radius: 30px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover { */
/* background: #6C6C76; */
/* opacity: 0.5;
  transition: all 0.5s linear;
} */

@keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}